<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.dw.comanda_facil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/comanda_facil"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/comanda_facil_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".telas.produto.TelaProduto"></activity>
        <activity android:name=".telas.produto.Produtos"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateHidden" />
        <activity android:name=".telas.Principal" />
        <activity android:name=".telas.Inicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>